/*barre nav*/
body{
	margin: 0px;
}
header{
	background-color: white;
	margin-bottom: 200px;
}
.recher{

	height: 30px;
	padding: 10px;
}
.recher input[type=text]{
    border:solid;
    border-radius: 20px;
    border-color: #2d7c9b;
	font-size: 20px;
	padding: 3px;
}
.recher button{
	border-radius: 20px;
	width: 100px;
	color: #2d7c9b;
	font-family: 'Segoe UI';
    font-size: 18px;
    margin: 4px;	

}
#admin, #panier{
  position: absolute;
  top:5px; right:100px;
}
#searchbartop {
  position: absolute;
  top:5px; right:200px;
}
#searchbartop #searchbartopbtn { 
  position:absolute; 
  left: -9999px;
}
#searchbartop #searchbartopbtn + label { 
  display:inline-block; 
  cursor:pointer;
  width:24px; height:0px;
  line-height:24px;
  text-align:center;
  background:#ccc;
}
#searchbartop #searchbartopbtn:checked + label {
  background:#ddd; color:#aaa;
}
#searchbartop form {
  position:absolute; 
  top:0; right:24px;
  display:none;
}
#searchbartop form > button, #searchbartop form > div {
  display:table-cell;
  height:32px;
}
#searchbartop #searchbartopbtn:checked ~ form {
  display:table;
}
#searchbartop form > div > input {
  width:0;
}
#searchbartop #searchbartopbtn:checked ~ form > div > input {
  animation: expand 0.5s ease-in-out 1;
	animation-fill-mode: forwards;
}
@keyframes expand {
  from { width:0; }
  to   { width:450px; }
}



.menu{
	display: flex;
	justify-content: space-around;
	background-color: #0d282d;
	font-family: 'Segoe UI';
    font-size: 28px;	
}
.menu a{
	text-decoration: none;
	color: white;
}
.menu a:hover{
	color: #9adbef;
}

/*Connexion*/
.bodiprof{
	background:url("img/galaxy-note10-image.jpg")top left/100% 100% ;
    background-attachment:fixed;
}
.erreur{
	color: red;
}
.new{
	color: orange;
}

/*inscription*/

#cadins{
	background-color: #a2d0ceeb;
	width:35%;
	padding: 35px;
	border-radius: 20px;
}

#cadins h1{
	text-align: center;
	font-family: 'Segoe UI';
    font-size: 28px;
}

/*page profil*/

.bodpro{
	background:url("img/iPhone-8-Plus-10.jpg")top left/100% 100% ;
    background-attachment:fixed;
}

.monprof{
	display: flex;
    justify-content: center;
}
.ident{
	background-color: #a2d0ceeb;
	width: 40%;
	padding: 25px;
}
#loprof{
    text-align: center;
	font-family: 'Segoe UI';
    font-size: 28px;
}
#nomprof{
    font-size: 20px;
    margin-left: 30px;
}

.proform{
	display: flex;
	justify-content: center;
}

#cadprof{
	background-color: #a2d0ceeb;
	width:40%;
	padding: 25px;
}

#cadprof h3{
	text-align: center;
	font-family: 'Segoe UI';
    font-size: 26px;
}
.valprof{
	display: flex;
	justify-content: center;
}
.notcon{
	text-align: center;
	font-family: 'Segoe UI';
    font-size: 24px;
}


/*page produit*/

.bodip{
	background:url("img/Huawei-P20.jpg")top left/100% 100% ;
	background-attachment:fixed;
}

.espart{
	display: flex;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Segoe UI';
	margin: 30px;
	padding: 20px;
}
#icoart{
	border:solid;
	border-radius: 16px;
	padding: 22px;
	border-color: #a2d0ceeb;
}
#infart{
	background-color: #a2d0ceeb;
	width: 50%;
	padding: 34px;
	border-radius: 16px;
}
#titre{
    font-size: 30px;
    color: #1c65d4;
}
#date{
    font-size: 24px;
    color: #188c0a;
}
#infart li{
    font-size: 24px;
	margin-top: 15px;
}
#pres{
	margin-bottom: -10px;
}
#text{
    font-size: 22px;
}
#prix{
    font-size: 22px;
    text-align: center;
}
#prix b{
	font-size: 40px;
	color: red;

}
#priart{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #a2d0ceeb;
	padding: 34px;
	border-radius: 16px;
}
#quant{
	font-size: 20px;
}
#quant b{
	color:#188c0a;
}

.espan{
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Segoe UI';
	margin: 30px;
	padding: 20px;
}

.boutpan{
	display: flex;
	justify-content: center;
}
.ajpanier input[type=submit]{
	background-color:#18723a;
    color: white;
    padding: 14px 20px;
    font-size: 26px;
    width: 340px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px;
}
.ajpanier input[type=submit]:hover {
    background-color: rgba(24, 114, 58, 0.71);
    color: #272f2a;
}
.ajpanier input[type=number]{
	padding: 14px 20px;
    font-size: 24px;
    border-radius: 10px;
    width: 80px; 
}

.mespan{
	display: flex;
	justify-content: center;	
	font-size: 22px;
	color: red;
	margin-top: 20px;
}

.comment{
	display: flex;
	justify-content: center;
	background-color: #a2d0ceeb;
	margin: 80px;
	margin-top: 120px;
	padding: 20px;
}
.sand{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 22px;
}
#avform input[type=submit] {
    background-color: #12876d;
    color: white;
    padding: 10px 14px;
    font-family: 'Segoe UI';
    font-size: 20px;
    width: 190px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin: 10px;

}
#avform input[type=submit]:hover {
    background-color: #5dc08f;
    color: #134434;
}
#area{
	 border-radius: 10px;
	 font-family: 'Segoe UI';
    font-size: 18px; 
}

.affavi{
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 30px;
	
}
.messa{
	display: flex;
	background-color: #a2d0ceeb;
	font-family: 'Segoe UI';
    font-size: 18px; 
    margin: 20px;
	border-radius: 10px;
	padding: 10px;
}
#user{
	margin-right: 100px;
}
#user i{
	color: #076125;
}
#user b{
	color: red;
}


/*page panier*/
.bodipa{
    background:url("img/huawei-mate-20.jpg")top left/100% 100% ;
    background-attachment:fixed;
}
.mopan{
	display: flex;
	justify-content: center;
}
.cadpan{
	background-color: rgba(255, 255, 255, 0.7);
	width: 65%;
	padding: 30px;
}
.mopan h1{
	text-align: center;
	font-family: 'Segoe UI';
}
.areap{
	display: flex;
	justify-content: center;
}
.esppan{
	display: flex;
	justify-content: center;
	background-color: #a2d0ceeb;
	font-family: 'Segoe UI';
	padding: 30px;
	width: 85%;
}
.artpan{
	display: flex;
	justify-content: space-around;
	background-color: white;
	width: 95%;
	padding: 10px;
	text-align: center;
}
.artpan h3{
	font-size: 20px;
}
#imapan, #titpan, #totart, #quantpa, #supp{
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#imapan a{
	text-decoration: none;
}
#titpan p b{
	color: red;
	font-size: 18px;
}
#quantpa p b{
	color: green;
	font-size: 18px;
}
#totart b{
	color: red;
	font-size: 18px;
}
#supp button{
	border-radius: 100%;
	 cursor: pointer;
}

.validation{

	margin-top: 40px;
}
#totpan{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
#totpan h1{
	background-color: #a2d0ceeb;
	border-radius: 30px;
	font-size: 26px;
	padding: 25px;
	width: 400px;
}
#totpan b{
	color: red;
	font-size: 28px;
}
#paiment{
 display: flex;
 justify-content: center;
 font-family: 'Segoe UI';
}
#card{
	display: flex;
	justify-content: space-around;
}
#paiform{
	display: flex;
	flex-direction: column;
	background-color: white;
	border:solid;
	border-color: #a2d0ceeb;
	border-width: 7px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
    width: 32%;
    font-size: 20px;
    padding: 30px;
}
#ticar{
	font-size: 22px;
	text-align: center;
}
#paiform input[type=number]{
	width: 250px;
	font-size: 16px;
}
#paiform input[type=text]{
	width: 250px;
	font-size: 16px;
}
#paiform input[type=submit]{
	background-color:#18723a;
    color: white;
    padding: 14px 20px;
    font-size: 26px;
    width: 340px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px;
}

#panvide {
	font-family: 'Segoe UI';
	font-size: 30px;
	text-align: center;
}


/*page admin*/

.bodia{
	background:url("img/bleu-ciel.jpg") ;
	background-attachment:fixed;
	background-size: 100%;
}

#commande{
	display: flex;
	justify-content: center;
	background-color: #45494c;
}

.button{
	margin: 50px;
	
}
.buttype
{
	background-color: #871E1E;
    color: #FFF;
    transition: background-color 1s , color 1s;
    border-radius: 10px;
	border:none;
	padding: 10px;
	cursor: pointer;
	font-family: 'Segoe UI';
	text-align: center;
	margin-right: 3px;
	margin-left: 3px;
	text-transform: capitalize;
}
.td-comm
{
	text-align: center;
}
.th-comm
{
	font-size: 110%;
}
.buttype:hover
{
	background-color: #FFF;
    color: #871E1E;
    /*transition: background-color 1s , color 1s;*/
}
.linone
{
	list-style-type: none;
}
.button input[type=submit] {
    background-color: #871E1E;
    color: #FFF;
    padding: 14px 20px;
    font-family: 'Segoe UI';
    font-size: 24px;
    width: 300px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px;
    margin-left: 100px;
    transition: background-color 1s , color 1s;

 
}
.button input[type=submit]:hover {
    background-color: #FFF;
    color: #871E1E;
    transition: background-color 1s , color 1s;
}
#espace{
	display: flex;
	justify-content: center;

}

#welco{
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI';
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 3px 3px black;
}

#espaceform{
border: solid;
border-radius: 20px;
box-shadow: 5px 2px 8px #353535;
width: 50%;
padding: 40px;
margin-bottom: 40px;
background-color: #9ab9a93d;
}

.formulaire{
display: flex;
justify-content: center;
}

#cadreform{
	width:50%;

}

.form{
	display: flex;
	flex-direction: column;
	font-family: 'Segoe UI';
	font-size: 22px;
}
.centre
{
	align-items: center;
}
#cadreform h1{
	text-align: center;
	font-family: 'Segoe UI';
    font-size: 26px;

}


.commod h1{
	text-align: center;
	font-family: 'Segoe UI';
    font-size: 26px;
}

#buttonmo{
	display: flex;
	justify-content: center;
}

#forbout{
	display: flex;
	flex-direction: column;
}

#buttonmo input[type=submit] {
   

    background-color: #871E1E;
    color: #FFF;

    padding: 10px 14px;
    font-family: 'Segoe UI';
    font-size: 18px;
    width: 280px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin: 10px;
    margin-bottom: 30px;
    transition: background-color 1s , color 1s;
}
#buttonmo input[type=submit]:hover {
    background-color: #FFF;
    color: #871E1E;
}

.inputa{
	border-radius: 5px;
	font-family: 'Segoe UI';
	font-size: 18px;
	background-color:#eee4e2;
	padding: 6px;
	margin-bottom: 12px;
	box-shadow: 2px 2px 3px #403434e8;
}
.inputa:hover{
	background-color:#f7f3f2;
}

#valid{
	display: flex;
	justify-content: center;
}

.form h2{
	 font-family: 'Segoe UI';
    font-size: 24px;
}
.form input[type=submit] {

    background-color: #871E1E;
    color: #FFF;
    padding: 10px 14px;
    font-family: 'Géorgie';
    font-size: 20px;
    width: 190px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin: 10px;
    transition: background-color 1s , color 1s;

}
.form input[type=submit]:hover {
    background-color: #FFF;
    color: #871E1E;
}

#mesmod{
	display: flex;
	justify-content: center;
	font-family: 'Segoe UI';
    font-size: 26px;
    color: red;
}

.globprod{
	display: flex;
	justify-content: center;	
}

.espaceprod{
	display: flex;
	background-color: white;
	border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
	
	margin: 20px;
	padding: 12px;
	width: 60%;
}
.globprod a{
    text-decoration: none;
    color:#2364d8;
    font-size: 18px;
}
#iconprod{
	display: flex;
    justify-content: center;
    flex-direction: column;
}
#infoprod{
	background-color: #a9e0c082;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;	
}



#tab-com
{
	width: 100%;
	background-color: #ffffff94;
	padding: 2%;
	box-shadow: 2px 2px 6px #4d4848
}
.hd-cont
{
    position: fixed;
    top: 50%;
    left: 45%;
    background-color: #fff9f1;
    margin: 0;
    padding: 1%;
    box-shadow: 2px 2px 6px  #404040;
}

/*boutique*/
/*paiment*/
/*index*/
/*paiment*/