<<<<<<< HEAD
=======
/*page produit*/

.bodip{
	background:url("img/Huawei-P20.jpg")top left/100% 100% ;
	background-attachment:fixed;
}

.espart{
	display: flex;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Segoe UI';
	margin: 30px;
	padding: 20px;
}
#icoart{
	border:solid;
	border-radius: 16px;
	padding: 22px;
	border-color: #a2d0ceeb;
}
#infart{
	background-color: #a2d0ceeb;
	width: 50%;
	padding: 34px;
	border-radius: 16px;
}
#titre{
    font-size: 30px;
    color: #1c65d4;
}
#date{
    font-size: 24px;
    color: #188c0a;
}
#infart li{
    font-size: 24px;
	margin-top: 15px;
}
#pres{
	margin-bottom: -10px;
}
#text{
    font-size: 22px;
}
#prix{
    font-size: 22px;
    text-align: center;
}
#prix b{
	font-size: 40px;
	color: red;

}
#priart{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #a2d0ceeb;
	padding: 34px;
	border-radius: 16px;
}
#quant{
	font-size: 20px;
}
#quant b{
	color:#188c0a;
}

.espan{
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Segoe UI';
	margin: 30px;
	padding: 20px;
}

.boutpan{
	display: flex;
	justify-content: center;
}
.ajpanier input[type=submit]{
	background-color:#18723a;
    color: white;
    padding: 14px 20px;
    font-size: 26px;
    width: 340px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px;
}
.ajpanier input[type=submit]:hover {
    background-color: rgba(24, 114, 58, 0.71);
    color: #272f2a;
}
.ajpanier input[type=number]{
	padding: 14px 20px;
    font-size: 24px;
    border-radius: 10px;
    width: 80px; 
}

.mespan{
	display: flex;
	justify-content: center;	
	font-size: 22px;
	color: red;
	margin-top: 20px;
}

.comment{
	display: flex;
	justify-content: center;
	background-color: #a2d0ceeb;
	margin: 80px;
	margin-top: 120px;
	padding: 20px;
}
.sand{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: 'Segoe UI';
	font-size: 22px;
}
#avform input[type=submit] {
    background-color: #12876d;
    color: white;
    padding: 10px 14px;
    font-family: 'Segoe UI';
    font-size: 20px;
    width: 190px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin: 10px;

}
#avform input[type=submit]:hover {
    background-color: #5dc08f;
    color: #134434;
}
#area{
	 border-radius: 10px;
	 font-family: 'Segoe UI';
    font-size: 18px; 
}

.affavi{
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 30px;
	
}
.messa{
	display: flex;
	background-color: #a2d0ceeb;
	font-family: 'Segoe UI';
    font-size: 18px; 
    margin: 20px;
	border-radius: 10px;
	padding: 10px;
}
#user{
	margin-right: 100px;
}
#user i{
	color: #076125;
}
#user b{
	color: red;
}

/*page panier*/

















>>>>>>> 691af0fec91499736c74a511e8f366263b019af8
/*page admin*/

.bodia{
	background:url("img/bleu-ciel.jpg")top left/100% 100% ;
	background-attachment:fixed;
}

#commande{
	display: flex;
	justify-content: center;
}

.button{
	margin: 50px;
}

.button input[type=submit] {
    background-color: #3E5173;
    color: #F3DA74;
    padding: 14px 20px;
    font-family: 'Géorgie';
    font-size: 24px;
    width: 300px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px;
    margin-left: 100px;
 
}
.button input[type=submit]:hover {
    background-color: #869fa2;
    color: #272f2a;
}
#espace{
	display: flex;
	justify-content: center;
}

#welco{
  display: flex;
  justify-content: center;
  font-family: 'Géorgie';
  font-size: 50px;
  color:#0400ff;
}

#espaceform{
	border:solid;
	border-radius: 20px;
	box-shadow: 10px 5px 5px gray;
	width: 50%;
	padding: 40px;
	margin-bottom: 40px;
}

.formulaire{
display: flex;
justify-content: center;
}

#cadreform{
	width:50%;

}

.form{
	display: flex;
	flex-direction: column;
	font-family: 'Géorgie';
	font-size: 22px;
}
#cadreform h1{
	text-align: center;
	font-family: 'Géorgie';
    font-size: 26px;

}


.commod h1{
	text-align: center;
	font-family: 'Géorgie';
    font-size: 26px;
}

#buttonmo{
	display: flex;
	justify-content: center;
}

#forbout{
	display: flex;
	flex-direction: column;
}

#buttonmo input[type=submit] {
    background-color: #1f7055;
    color: #F3DA74;
    padding: 10px 14px;
    font-family: 'Géorgie';
    font-size: 18px;
    width: 280px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin: 10px;
    margin-bottom: 30px;
}
#buttonmo input[type=submit]:hover {
    background-color: #89d1ad;
    color: #134434;
}

.inputa{
	border-radius: 5px;
	font-family: 'Géorgie';
	font-size: 18px;
	background-color:#eee4e2;
	padding: 6px;
	margin-bottom: 12px;
}
.inputa:hover{
	background-color:#f7f3f2;
}

#valid{
	display: flex;
	justify-content: center;
}

.form h2{
	 font-family: 'Géorgie';
    font-size: 24px;
}
.form input[type=submit] {
    background-color: #1f7055;
    color: #F3DA74;
    padding: 10px 14px;
    font-family: 'Géorgie';
    font-size: 20px;
    width: 190px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin: 10px;

}
.form input[type=submit]:hover {
    background-color: #5dc08f;
    color: #134434;
}

#mesmod{
	display: flex;
	justify-content: center;
	font-family: 'Géorgie';
    font-size: 26px;
    color: red;
}

.globprod{
	display: flex;
	justify-content: center;	
}

.espaceprod{
	display: flex;
	background-color: white;
	border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
	
	margin: 20px;
	padding: 12px;
	width: 60%;
}
.globprod a{
    text-decoration: none;
    color:#2364d8;
    font-size: 18px;
}
#iconprod{
	display: flex;
    justify-content: center;
    flex-direction: column;
}
#infoprod{
	background-color: #a9e0c082;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;	
}



#tab-com
{
	width: 100%;
}
.hd-cont
{
    position: fixed;
    top: 50%;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

/*boutique*/
/*paiment*/
/*index*/
/*paiment*/